main {
    color: white;
    display: flex;

    
}
#item1 {
    height: 100px;
    width: 300px;
    margin: 10px;
    background-color: blue;
}
#item2 {
    height: 100px;
    width: 300px;
    margin: 10px;
    background-color: yellow;
}
#item3 {
    height: 100px;
    width: 300px;
    margin: 10px;
    background-color:black;
}

button {
    background-color: burlywood;
    margin: 10px;
}

#imagem img {
    height: 400px;
    width: 500px;

}