main {
    color: white;
    display: flex;

    
}
#item1 {
    height: 100px;
    width: 300px;
    margin: 10px;
    background-color: blue;
}
#item2 {
    height: 100px;
    width: 300px;
    margin: 10px;
    background-color: red;
}
#item3 {
    height: 100px;
    width: 300px;
    margin: 10px;
    background-color:black;
}